html {background:#fafafa;}
body {max-width:500px; margin:0 auto; padding:20px; background:#fff; font-family:sans-serif; font-size:14px;}
h1 {font-size:28px; letter-spacing:-2px; margin:0;}
p {line-height:1.3em;}
.author {color:#999; font-size:12px;}
.red {color:red;}
.grey {color:grey;}